<div class="card">
    <div class="card-header">
        <h5 class="card-title">Wifi config</h5>
    </div>

    <div class="card-body">
        <div class="form-group form-group-float">
            <label class="form-group-float-label">Wi-Fi Name</label>
            <input type="text" class="form-control" placeholder="Wi-Fi Name">
        </div>

        <div class="form-group form-group-float">
            <label class="form-group-float-label">Wi-Fi Password</label>
            <input type="password" class="form-control" placeholder="Wi-Fi Password">
        </div>
        <div class="text-left">
            <button type="submit" class="btn btn-primary">Save <i class="icon-paperplane ml-2"></i></button>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h5 class="card-title">Connectivity</h5>
    </div>

    <!--    <div class="card-body">-->
    <!--        Modules-->
    <!--    </div>-->

    <table class="table table-bordered table-hover datatable-basic">
        <thead>
        <tr>
            <th>Select</th>
            <th>Wi-Fi name</th>
            <th>Signal</th>
            <th>Channel</th>
            <th>MAC</th>
        </tr>
        </thead>
        <tbody>


        {{#each networks}}
            <tr>
                <td><span class="badge badge-info">Select</span></td>
                <td>{{ssid}}</td>
                <td>{{rssi}}</td>
                <td>{{channel}}</td>
                <td>{{mac}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<script>
    $( "span" ).click(function() {
        alert( $(this).parent().next().val() );
    });
</script>
