<div class="card">
    <div class="card-header">
        <h5 class="card-title">Connectivity</h5>
    </div>

    <!--    <div class="card-body">-->
    <!--        Modules-->
    <!--    </div>-->

    <table class="table table-bordered table-hover datatable-basic">
        <thead>
        <tr>
            <th>Wi-fi name</th>
            <th>Signal</th>
            <th>Channel</th>
            <th>MAC</th>
        </tr>
        </thead>
        <tbody>


        {{#each networks}}
            <tr>
                <td>{{ssid}}</td>
                <td>{{rssi}}</td>
                <td>{{channel}}</td>
                <td>{{mac}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
    });
</script>