
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="M_Adnan">
    <title>Crankk.io - Give Smart Contracts Agency and Access to Web Data</title>
    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <link href="/assets/fonts/flaticon.css" rel="stylesheet">
    <link href="/assets/css/ionicons.min.css" rel="stylesheet">

    <!-- JavaScripts -->
    <script src="/assets/js/modernizr.js"></script>

    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/global_assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
    <script src="/global_assets/js/plugins/forms/inputs/typeahead/handlebars.min.js"></script>
    <script src="/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="/global_assets/js/demo_pages/form_controls_extended.js"></script>
    <script src="/global_assets/js/demo_charts/d3/lines/lines_basic.js"></script>

    <script src="/global_assets/js/demo_pages/dashboard.js"></script>

</head>
<body>

<!-- LOADER -->
<div id="loader">
    <div class="position-center-center">
        <div class="ldr"></div>
    </div>
</div>

<!-- Wrap -->
<div id="wrap">

    <!-- header -->
    <header class="sticky">
        <div class="container">

            <!-- Logo -->
            <div class="logo"> <a href="/"><img class="img-responsive" height="50px" src="/images/logo_light.png" alt="" ></a> </div>
            <nav class="navbar ownmenu navbar-expand-lg">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav">
                        <li class="scroll active"><a href="#hme">Home</a></li>
                        <li class="scroll"> <a href="#about">About </a> </li>
                        <li class="scroll"> <a href="#activity">Activity</a> </li>
                        <li class="scroll"> <a href="#roadmap">Road Map</a> </li>
                        <li class="scroll"> <a href="#faq">FAQ</a> </li>
                        <li class="scroll"> <a href="#contact">Contact</a> </li>
                        <li class="scroll"> <a href="/login">Login</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="clearfix"></div>
    </header>

    <!-- HOME MAIN  -->
    <section class="simple-head" data-stellar-background-ratio="0.5" id="hme">
        <!-- Particles -->
        <div id="particles-js"></div>
        <div class="position-center-center">
            <div class="container text-center">
                <h1>A Smart contract is like a piece of paper. . .</h1>
                <h1>Until you give it agency and access to web data</h1>
                <p>Earn the Crankk Token on the Kadena Network by operating a node, contributing to the backbone of the Crankk Distributed Network</p>
                <a href="/login" class="btn">Join Us</a> <a href="#faq" class="btn btn-inverse">Read FAQ</a> </div>
        </div>
    </section>

    <!-- Content -->
    <div id="content">

        <!-- Why Choose Us -->
        <section class="why-choose padding-top-150 padding-bottom-150" id="about">
            <div class="container">

                <!-- Why Choose Us  ROW-->
                <div class="row">
                    <div class="col-md-7 margin-top-60">

                        <!-- Tittle -->
                        <div class="heading margin-bottom-20">
                            <h6 class="margin-bottom-10">Crankk is a distributed network of nodes regulated by Kadena's Layer 1 Pact Smart Contracts</h6>
                            <h4>Enabling integration of real-world events into Smart contracts and Blockchain technology</h4>
                        </div>
<!--                        <p>Smart contracts can register with Crankk to request event processing and data from the web</p>-->
                        <p>Smart contracts can register with Crankk to request event processing and data from the web
                            to react to real-world events, not just financial but logistical, statistical or anything else.</p>
                        <p>Crankk is also the name of the token facilitating the Crankk network ecosystem. Node operators
                            earn tokens by participating in the network and performing tasks requested by the network.</p>
                        <p>Crankk is a Proof of Stake Network built on Kadena's Proof of Work Network,
                            greatly enhancing the existing ecosystem's utility while building on it's proven reliability, speed and resiliency.</p>
                        <!--                        <div class="ultra-ser"> <span><span class="name"> Webicode &nbsp; - &nbsp;</span> <span>Ceo/Founder Chain</span></span> </div>-->
                        <!--                        <a class="vid-btn margin-top-30 popup-youtube" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i class="fas fa-play-circle"></i> Watch Video <br>-->
                        <!--                            <span>How it works</span></a> -->
                    </div>

                    <!-- Image -->
                    <div class="col-md-5 text-right"> <img src="/images/chain-img.png" alt="Why Choose Us Image" > </div>
                </div>

                <!-- Services ROW -->
                <div class="row">

                    <!-- Services -->
                    <div class="col-md-4">
                        <div class="ib-icon"> <i class="flaticon-secure-shield"></i> </div>
                        <div class="ib-info">
                            <h4 class="h6">Built on proven resiliency</h4>
                            <p>Kadena is a true Layer 1 PoW distributed network leading in speed, security and reliability. Crankk builds on all of these features while greatly enhancing its utility. </p>
                        </div>
                    </div>

                    <!-- Services -->
                    <div class="col-md-4">
                        <div class="ib-icon"> <i class="flaticon-flat-world-map"></i> </div>
                        <div class="ib-info">
                            <h4 class="h6">Opening up Smart Contracts to the outside world</h4>
                            <p>Crankk makes it a reality for Smart Contracts to learn about and react to real-world events elevating them from ledgers or voting machines to true living entities with agency.</p>
                        </div>
                    </div>

                    <!-- Services -->
                    <div class="col-md-4">
                        <div class="ib-icon"> <i class="flaticon-smartphone"></i> </div>
                        <div class="ib-info">
                            <h4 class="h6">Truly distributed Layer 1-1</h4>
                            <p>Crankk is a consensus network guaranteeing that real-world data from trusted websites and services is accurately made available for smart contracts
                                while incentivising network participants in a fair manner. The best way of doing that is by building on a proven Layer 1 network with virtually zero gas fees, excellent reliability and high throughput.</p>
                        </div>
                    </div>

                    <!-- Services -->
                    <div class="col-md-4">
                        <div class="ib-icon"> <i class="flaticon-money"></i> </div>
                        <div class="ib-info">
                            <h4 class="h6">Earn the Crankk Token</h4>
                            <p>Network facilitators / participants earn Crankk Token for their work in getting web data and making it available for Smart Contracts.
                            Consensus results and participant incentives are determined and regulated by Kadena Pact Smart Contracts safeguarding against manipulation while maintaining accuracy and fairness.</p>
                        </div>
                    </div>

                    <!-- Services -->
                    <div class="col-md-4">
                        <div class="ib-icon"> <i class="flaticon-profits"></i> </div>
                        <div class="ib-info">
                            <h4 class="h6">Easy to participate</h4>
                            <p>The Crankk Token is distributed based on network participation and work done for the network. Since the underlying protocol is already secured by a PoW network,
                                participation in Crankk does not require further investing in specialized hardware or building up high stakes with high balances. The earlier you join the more you earn.
                                Nodes run an open source software with moderate to low hardware requirements.</p>
                        </div>
                    </div>

                    <!-- Services -->
                    <div class="col-md-4">
                        <div class="ib-icon"> <i class="flaticon-credit-card"></i> </div>
                        <div class="ib-info">
                            <h4 class="h6">Real-world wonders for Smart Contract operators</h4>
                            <p>Crankk can call a Smart Contract function on any network with requested periodicity by registering only once with the network.
                            Crankk can pull web data and make it available to any Smart Contract on any network. All it takes is a simple registration with the network by providing
                            a URL and a selector for the desired data. Low usage fees are guaranteed thanks to Kadena's virtually zero gas fees. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Token Distribution -->
        <section class="distri drk padding-top-150 padding-bottom-150 " id="token">
            <div class="container">
                <div class="row">

                    <!-- Token  -->
                    <div class="col-lg-6">
                        <h3>Active nodes</h3>
                        <p>Active nodes are available in the network at any time to process requests for getting web data, calling Smart Contract maintenance functions and calculating consensus results based on rules specified by the requesting Smart Contract.</p>

                        <iframe class="card-img img-fluid" style="height: 250px" src="/nodestats" frameborder="0"></iframe>
                        <!--                        &lt;!&ndash; Progress &ndash;&gt;-->
<!--                        <div class="progress">-->
<!--                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="150"><span>9,000,000 <small>50%</small></span> </div>-->
<!--                        </div>-->
<!--                        -->
<!--                        <div class="row">-->
<!--                            <div class="col">-->
<!--                                <h6> Now Distribution</h6>-->
<!--                                <span>2,000,000</span> </div>-->
<!--                            <div class="col">-->
<!--                                <h6> 99,910</h6>-->
<!--                                <span>ETH Received</span> </div>-->
<!--                            <div class="col">-->
<!--                                <h6> 99,910</h6>-->
<!--                                <span>BTC Received</span> </div>-->
<!--                        </div>-->

                        <!-- CountdownEnd -->
<!--                        <div class="countdown">-->
<!--                            <h6>Current Distribution Section End  150/350</h6>-->
<!--                            &lt;!&ndash; Countdown&ndash;&gt;-->
<!--                            <ul class="row">-->
<!--                                &lt;!&ndash; Days &ndash;&gt;-->
<!--                                <li class="col-md-3">-->
<!--                                    <article> <span class="days">00</span>-->
<!--                                        <p class="days_ref">Days</p>-->
<!--                                    </article>-->
<!--                                </li>-->
<!--                                &lt;!&ndash; Hours &ndash;&gt;-->
<!--                                <li class="col-md-3">-->
<!--                                    <article> <span class="hours">00</span>-->
<!--                                        <p class="hours_ref">Hours</p>-->
<!--                                    </article>-->
<!--                                </li>-->
<!--                                &lt;!&ndash; Mintes &ndash;&gt;-->
<!--                                <li class="col-md-3">-->
<!--                                    <article><span class="minutes">00</span>-->
<!--                                        <p class="minutes_ref">Minutes</p>-->
<!--                                    </article>-->
<!--                                </li>-->
<!--                                &lt;!&ndash; Seconds &ndash;&gt;-->
<!--                                <li class="col-md-3">-->
<!--                                    <article><span class="seconds">00</span>-->
<!--                                        <p class="seconds_ref">Seconds</p>-->
<!--                                    </article>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div>

                    <!-- Total Distribution -->
                    <div class="col-lg-6">
                        <h3>Daily performed Cranks</h3>
                        <p>Crank functions are the functions exposed by Smart Contracts that Crankk network participating nodes call to perform regular maintenance and utility functions by the contract</p>

                        <iframe class="card-img img-fluid" style="height: 250px" src="/crankstats" frameborder="0"></iframe>
                        <!--                        <div class="countdown-all">-->
<!--                            &lt;!&ndash; Countdown &ndash;&gt;-->
<!--                            <ul class="row">-->
<!--                                &lt;!&ndash; Days &ndash;&gt;-->
<!--                                <li class="col-md-3">-->
<!--                                    <article> <span class="days">00</span>-->
<!--                                        <p class="days_ref">Days</p>-->
<!--                                    </article>-->
<!--                                </li>-->
<!--                                &lt;!&ndash; Hours &ndash;&gt;-->
<!--                                <li class="col-md-3">-->
<!--                                    <article> <span class="hours">00</span>-->
<!--                                        <p class="hours_ref">Hours</p>-->
<!--                                    </article>-->
<!--                                </li>-->
<!--                                &lt;!&ndash; Mintes &ndash;&gt;-->
<!--                                <li class="col-md-3">-->
<!--                                    <article><span class="minutes">00</span>-->
<!--                                        <p class="minutes_ref">Minutes</p>-->
<!--                                    </article>-->
<!--                                </li>-->
<!--                                &lt;!&ndash; Seconds &ndash;&gt;-->
<!--                                <li class="col-md-3">-->
<!--                                    <article><span class="seconds">00</span>-->
<!--                                        <p class="seconds_ref">Seconds</p>-->
<!--                                    </article>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                            <a href="#." class="btn">Join Us</a> <a href="#." class="btn btn-inverse">Buy Now</a>-->

<!--                            &lt;!&ndash; Buy Option &ndash;&gt;-->
<!--                            <div class="card-info"> <i class="fab  fa-bitcoin"></i> <i class="fab  fa-cc-discover"></i> <i class="fab  fa-cc-visa"></i> <i class="fab  fa-cc-mastercard"></i> </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </section>


        <!-- Development -->
        <section class="dev-activ text-center padding-top-150 padding-bottom-150" id="activity">
            <div class="container">
                <div class="sm-intro">
                    <h2>Development Activity</h2>
                    <p>We are starting with "Simple sales contracts" and working to make other types of contracts available to cover an increasing number of your needs and to provide you with better protection. </p>
                </div>
                <ul class="row margin-top-50 margin-bottom-50">
                    <li class="col"> <i class="flaticon-rotate"></i> <span><span class="counter">4</span> hrs Ago</span>
                        <p>Last Update</p>
                    </li>
                    <li class="col"><i class="flaticon-building"></i> <span><span class="counter">10</span> Days Ago</span>
                        <p>Last contract type added</p>
                    </li>
                    <li class="col"><i class="flaticon-money-1"></i> <span><span class="counter">57</span>+</span>
                        <p>Contracts handled</p>
                    </li>
                </ul>
                <!--                <a href="#." class="btn">Start on GitHub</a> <a href="#." class="btn btn-inverse">White Paper</a> </div>-->
        </section>

        <!-- ABOUT -->
        <section class="about light-bg">
            <!-- Right Background -->
            <div class="main-page-section half_left_layout">
                <div class="main-half-layout half_right_layout"> </div>

                <!-- Left Content -->
                <div class="main-half-layout-container half_right_layout">
                    <div class="about-us-con">
                        <h3>Growing Global Network</h3>
                        <p>Join our community who believe in the advantages of decentralization and want to feel safer buying and selling online </p>
                        <ul class="count-info row">
                            <li class="col"> <span class="counter">500</span><span>+</span>
                                <p>Customers</p>
                            </li>
                            <li class="col"> <span class="counter">75</span><span>+</span>
                                <p>Vendors</p>
                            </li>
                        </ul>
                        <!--                        <a href="#." class="btn">White Paper</a> <a href="#." class="btn btn-inverse">Find an Exchange</a> </div>-->
                    </div>
                </div>
        </section>

        <!-- Road Map -->
        <section class="road-map padding-top-150 padding-bottom-50" id="roadmap">
            <div class="container-fluid">
                <h2>Our Main Road Map</h2>
                <p>We are constantly working to give you increasingly better protection from scammers online </p>

                <!-- Road List -->
                <ul class="edu-list margin-top-50">

                    <!-- Jan 2018 -->
                    <li> <span>September  2021</span>
                        <h5>Our service goes online</h5>
                        <p>We start by supporting "Simple sales contracts"</p>
                    </li>
                    <!-- Feb 2018 -->
                    <li> <span>October  2021</span>
                        <h5>New contract type</h5>
                        <p>We start supporting "Disputable contracts"</p>
                    </li>
                    <!-- March 2018 -->
                    <li> <span>November  2021</span>
                        <h5>New contract type</h5>
                        <p>We start supporting "Donation contracts"</p>
                    </li>
                    <!-- April 2018 -->
                    <li> <span>December 2021</span>
                        <h5>New contract type</h5>
                        <p>We start supporting "GoFundMe type of contracts"</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="light-bg padding-top-150 padding-bottom-150" id="faq">
            <div class="container">
                <div class="heading text-center">
                    <h2>Frequently asked questions</h2>
                    <p>Please read this to understand how to participate in the network </p>
                </div>
                <!-- FAQS -->
                <div class="row">
                    <div class="col-md-6">

                        <!-- According Style 1 -->
                        <div class="panel-group accordion" id="accordion">

                            <!-- According 1 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed"> How can I join the Crankk Network</a> </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse show">
                                    <div class="panel-body"> Smart contracts are a kind of "programs" that check certain conditions to move crypto money, in this case Kadena</div>
                                </div>
                            </div>

                            <!-- According 2 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed"> Do I pay in Kadena then?</a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse show">
                                    <div class="panel-body"> Yes. And the reason for that is that the smart contract holds the money until the contract concludes. Kadena smart contracts can hold Kadena natively. </div>
                                </div>
                            </div>

                            <!-- According 3 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed"> How do I know how much Kadena to pay?</a> </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse show">
                                    <div class="panel-body"> When contracts are created the USD value is automatically converted into Kadena, so you know how much to transfer </div>
                                </div>
                            </div>

                            <!-- According 4 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour" class="collapsed"> Where do I buy Kadena?</a> </h4>
                                </div>
                                <div id="collapsefour" class="panel-collapse collapse show">
                                    <div class="panel-body"> There are many ways but if you really have no idea then just search for "Where can I buy Kadena" to find a regular currency to crypto currency exchange </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <!-- According Style 1 -->
                        <div class="panel-group accordion" id="accordion">

                            <!-- According 1 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-1" class="collapsed"> Is my purchase 100% protected?</a> </h4>
                                </div>
                                <div id="collapseOne-1" class="panel-collapse collapse show">
                                    <div class="panel-body"> Unfortunately no. There is no way to offer 100% protection. But we can take you a long way to avoid scammers </div>
                                </div>
                            </div>

                            <!-- According 2 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-1" class="collapsed"> So what does your contracts do?</a> </h4>
                                </div>
                                <div id="collapseTwo-1" class="panel-collapse collapse show">
                                    <div class="panel-body"> Either the seller or the buyer creates the contract and sets the value. The other party gets notified once the contract is created and they get the option to agree to it.
                                        Once agreed by both parties the buyer funds the contract but that value is temporarily held by the contract. There's no way to get that money out of the contract unless the contract is fulfilled.
                                        It means the seller needs to enter the package tracking number and the package needs to get delivered. Delivery is independently verifiable by the contract and only then does the money get transferred to the seller</div>
                                </div>
                            </div>

                            <!-- According 3 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree-1" class="collapsed"> What if I'm not satisfied with the received item?</a> </h4>
                                </div>
                                <div id="collapseThree-1" class="panel-collapse collapse show">
                                    <div class="panel-body"> We can't do much about it now but soon we'll support disputable contracts. Keep an eye out for those. </div>
                                </div>
                            </div>

                            <!-- According 4 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour-1" class="collapsed"> How much does it cost to use this service?</a> </h4>
                                </div>
                                <div id="collapsefour-1" class="panel-collapse collapse show">
                                    <div class="panel-body"> Our fee for "Simple sales contract" is 0.5% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Join our community -->
        <section class="community-sec padding-top-150 padding-bottom-150">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sm-intro">
                            <h2>Join our community</h2>
                            <ul class="socials">
                                <li><a href="#."><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#."><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#."><i class="fab fa-github"></i></a></li>
                                <li><a href="#."><i class="fab fa-telegram"></i></a></li>
                                <li><a href="#."><i class="fab fa-gitter"></i></a></li>
                                <li><a href="#."><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#."><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#."><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="news-letter">
                            <h2>Subscribe to our newsletter</h2>
                            <form>
                                <input type="email" placeholder="Enter your email address" required>
                                <button type="submit">SEND</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="contact">
        <div class="container">
            <div class="parthner">
                <h6>Partnered with Innovative Globally</h6>
                <ul>
                    <li><a href="#."><img src="/images/c-mg-1.png" alt=""></a></li>
                    <li><a href="#."><img src="/images/c-mg-2.png" alt=""></a></li>
                    <li><a href="#."><img src="/images/c-mg-3.png" alt=""></a></li>
                    <li><a href="#."><img src="/images/c-mg-1.png" alt=""></a></li>
                    <li><a href="#."><img src="/images/c-mg-2.png" alt=""></a></li>
                    <li><a href="#."><img src="/images/c-mg-3.png" alt=""></a></li>
                    <li><a href="#."><img src="/images/c-mg-1.png" alt=""></a></li>
                    <li><a href="#."><img src="/images/c-mg-2.png" alt=""></a></li>
                </ul>
            </div>
        </div>

        <!-- Rights -->
        <div class="rights">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>© 2021 AlertJack Inc. All Rights Reserved. </p>
                    </div>
                    <div class="col-md-6 text-right"> <a href="#.">Faqs </a> <a href="#.">Terms & Conditions </a> <a href="#.">Contact Us</a> </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- GO TO TOP -->
<a href="#" class="cd-top"><i class="ion-chevron-up"></i></a>
<!-- GO TO TOP End -->

<!-- Script -->
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/particles.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>